.side_bar
  .side-bar__user-name
    .top-items
      .top-items__name
        %p カニかま
      %ul.top-items__icons
        %li.edit-icon
          = link_to "#" do
            <i class="far fa-edit"></i>
        %li.cog-icon
          = link_to "#" do
            <i class="fas fa-cog"></i>
  %ul.side-bar__group-list
    %li.group
      %p.group__name
        ゴボウ
        %p.group__message
          まだ目メッセージがありません  
    %li.group
      %p.group__name
        ギョウザ組合
        %p.group__message
          まだ目メッセージがありません
    %li.group
      %p.group__name
        目玉焼き
        %p.group__message
          まだ目メッセージがありません